body {
    /* background-image: url ("../images/dmitrij-paskevic-44124-unsplash.jpg"); */
    background-image: url("../images/dmitrij-paskevic-44124-unsplash.jpg");
}

.container {
    /* background-image: url("..images/dark-honeycomb.png"); */
    background-color: #999;
    top: 30px;
    width: 800px;
    height: 520px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

h4 {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #666;
    border: 2px;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.start {
    text-align: center;
}

